body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
}

select,
input,
button {
  padding: 10px;
}

.transactions-container {
  margin-top: 20px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border-bottom: 1px solid #eee;
}

.transaction--income {
  background-color: #4eb369; 
  color: #155724; 
}

.transaction--expense {
  background-color: #e9a8ad;
  color: #7c4147; 
}

.delete-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}
